<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-5 bg-secondary">
                <form class="card-body cardbody-color p-lg-5" asp-controller="Felhasznalok" asp-action="RegHandler" method="post" id="regForm">
                    <div class="text-center mb-5">
                        <h1 class="text-dark font-weight-bold">Regisztráció</h1>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="text-dark mb-2 fw-bold">Felhasználónév</label>
                        <input type="text" class="form-control" name="username" placeholder="Felhasználónév" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="text-dark mb-2 fw-bold">Jelszó</label>
                        <input type="password" class="form-control" name="password" placeholder="Jelszó" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="text-dark mb-2 fw-bold">Email cím</label>
                        <input type="email" class="form-control" name="email" placeholder="Email cím" required>
                    </div>
                    <div class="text-center"><button type="submit" name="submit" class="btn btn-color btn-outline-dark px-5 w-100 mt-3 mb-3 fw-bold" value="regPage">Regisztráció</button></div>
                    <div id="emailHelp" class="form-text text-center text-dark">
                        Van már fiókja?<a asp-action="Bejelentkezes" asp-controller="Felhasznalok" class="text-dark fw-bold text-decoration-none"> Jelentkezzen be.</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@{
}
