@{
    ViewData["Title"] = "Index";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>Film index</h1>
    <p>Ez a film index oldal</p>
    <a class="text-light text-decoration-none" asp-area="" asp-controller="Film" asp-action="hello">hello</a>
    <br><p>@ViewData["Message"]</p>
}
